nav {
  width: 100%;
  background-color: lightgray;
  padding-left: 30px;
  padding-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}
.nav-item input[type="submit"] {
     background:none;
     border:none; 
     font: inherit;
     display: inline-block;
     padding: 10px 15px;
     text-decoration: none;
     color: white;
}
.nav-item:hover input[type="submit"] {
     color: darkgreen;
}