<nav class="navbar">
    <ul class="nav-links">
      <li class="nav-item"><a href="#">About</a></li>
      <li class="nav-item"><%= link_to 'Blog', posts_path %></li>
        <% if current_user %>
      <li class="nav-item"><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
      <li class="nav-item"><%= button_to "Log Out", destroy_user_session_path(current_user), method: :delete %></li>
        <% else %>
      <li class="nav-item"><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
    </ul>
  </nav>